@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* shared style header banner */
.banner {
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1915px;
    height: 872px;
    /* background-position:center; */

}

.banner-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 24px 0; */
    gap: 40px;

}

.banner-profile {
    margin-top: 30px;
    width: 330px;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 65px;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: 0%;
}

.banner-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    opacity: 0.7;


}

.btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 31px 34px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    cursor: pointer;

}

/* shared styles in main section */
.main-paper {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    background-color: rgba(13, 19, 33, 0.02);
    margin: 100px 200px;
    height: 1750px;

}

.main-paper-styles {}

.paper-heading {
    text-align: center;

}

.paper-name {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 42px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    margin-top: 100px;
    padding: 80px 0px 0px 0px;

}

.paper-name-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-top: 30px;
    padding: 0px 0px 58px 0px;
    opacity: 0.7;

}

/* layer shared styles */
.paper-layer-1 {
    display: flex;
    margin: 2px 120px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    padding: 70px 0px 70px 0px;
    border-radius: 16px;
    gap: 30;

}

.paper-layer-2 {
    display: flex;
    margin: 2px 120px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    padding: 70px 0px 70px 0px;
    border-radius: 16px;
    margin-top: 32px;

}

.paper-layer-3 {
    display: flex;
    margin: 2px 120px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    padding: 70px 0px 70px 0px;
    border-radius: 16px;
    margin-top: 32px;

}

.paper-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;

}

.paper-description {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
    opacity: 0.7;
}

.btn-prime {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 25px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    padding: 12px 20px;
    margin: 32px 0px;
    background-color: #fff;
    cursor: pointer;

}


/* shared style inspiration section */
.inspiration-hot {
    height: 1090px;
}

.inspiration {
    text-align: center;
}

.inspiration-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 42px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}

.inspiration-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
    opacity: 0.7;
}

.play {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    height: 800px;
    border-radius: 16px;
    margin-top: 30px;
    margin: 30px 166px;
}

.video-play {
    border-radius: 16px;
    /* margin-top: 30px; */
    margin: 40px;
}

/* shared style current section */
.current {
    text-align: center;
    height: 200px;
}

.current-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 42px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;

}

.current-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 30px;

}

.current-product {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
    height: 500px;

}

.current-product-1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    width: 464px;
    height: 399px;
    gap: 30px;

}

.current-product-2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    width: 464px;
    height: 399px;
}

.current-product-3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    width: 464px;
    height: 399px;
}

.img {
    width: 76px;
    height: 76px;
    margin: 60px 0px 2px 40px;

}

.product-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 34px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    margin: 30px 0px 2px 40px;
}

.product-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 30px 0px 2px 40px;
}

.ancor {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    margin-left: 40px;

}

/* shared styles in footer */
.footer-1 {
    height: 730px;
}

.support-me {
    padding: 64px 48px 64px 48px;
    margin: 20px 220px;
    height: 500px;
    background-position: bottom;
    background-size: cover;
    background-image: linear-gradient(45deg, transparent, rgb(27, 26, 26)), url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.Support-title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;

}

.Support-description {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 40px;
}

.input-text {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 19px 20px 19px 20px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;

    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    margin-top: 40px;

}

.input-submit {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    width: 120px;
    height: 57px;
    padding: 17px 20px 17px 20px;
    background: rgb(255, 255, 255);

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    cursor: pointer;

}

/* footer-2 */

.footer-2 {
    display: flex;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    justify-content: space-around;
    align-items: center;
    gap: 250px;
    
}

.Commitment-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}

.fb{
    text-decoration: none;
}